/* ******btn-blue***** */
.btn-blue {
  background-color: var(--bg-btn);
  border: none;
  margin-right: 8px;
  padding: 10px;
  border-radius: 0.625rem;
  min-width: 100px;
  font-size: 16px;
  margin-bottom: 8px;
}
.btn-blue:hover {
  background-color: var(--blue);
  color: var(--white);
}
.btn-blue-active{
  background-color: var(--blue);
  color: var(--white);
}
/* ******* btn-red ******** */
.btn-red,
.btn-success {
  background-color: #f62947;
  border-color: #f62947;
  width: 100% !important;
  margin-right: 0.5rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-top: 0.75rem !important;
  color: var(--white);
  box-shadow: none;
  border-radius: 0.625rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}
.btn-success {
  background-color: #0ac074;
  border-color: #0ac074;
}
.btn-red:hover {
  background-color: #d1233c;
  border-color: #c52139;
}
.btn-success:hover {
  background-color: #2fc989;
  border-color: #23c682;
}
