:root {
  --white: #ffff;
  --red: #f62947;
  --green: #0ac074;
  --black-text: #343a40;
  --gray-text: #6c757d;
  --bg-main: #e3eff7;
  --bg-btn: #eff3f6;
  --blue: #6571ff;
  --black:#000001;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.flex{
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}
